@import "../../assets/styles/main";

#footer {
  background-color: #f2f2f2;
  color: #666;
  padding-top: 1rem;

  font-size: 1.25rem;


  .footer {
    text-align: center;
    background-color: #343a40;
    color: #cccecf;
    padding-top: 1rem;
    padding-bottom: 2rem;

  }

}
