@import"../../assets/styles/main";

#promo{
  .promo-item:nth-child(even){
    //background-color: rgba(theme-color('info'),1);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eecd4f+1,f9e677+53,eecd4f+100 */
    //background: rgb(238,205,79); /* Old browsers */
    //background: -moz-linear-gradient(left, rgba(238,205,79,1) 1%, rgba(249,230,119,1) 53%, rgba(238,205,79,1) 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(left, rgba(238,205,79,1) 1%,rgba(249,230,119,1) 53%,rgba(238,205,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to right, rgba(238,205,79,1) 1%,rgba(249,230,119,1) 53%,rgba(238,205,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecd4f', endColorstr='#eecd4f',GradientType=1 ); /* IE6-9 */


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edd06a+1,f7e891+53,edd06a+99 */
    //background: rgb(237,208,106); /* Old browsers */
    //background: -moz-linear-gradient(left, rgba(237,208,106,1) 1%, rgba(247,232,145,1) 53%, rgba(237,208,106,1) 99%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(left, rgba(237,208,106,1) 1%,rgba(247,232,145,1) 53%,rgba(237,208,106,1) 99%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to right, rgba(237,208,106,1) 1%,rgba(247,232,145,1) 53%,rgba(237,208,106,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd06a', endColorstr='#edd06a',GradientType=1 ); /* IE6-9 */


    background: -moz-linear-gradient(0deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(99,184,99,1)), color-stop(51%, rgba(127,209,125,1)), color-stop(100%, rgba(99,184,99,1))); /* safari4+,chrome */

    background: -webkit-linear-gradient(0deg, rgba(theme-color("primary"),.7) 0%, rgba(theme-color("primary"),.5) 51%, rgba(theme-color("primary"),.7) 100%); /* safari5.1+,chrome10+ */

    background: -ms-linear-gradient(0deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* w3c */




      //border-bottom-width: 1.5rem;
      //border-image: url(sofa001.svg);

    //border: 20px solid pink;
    //border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    //border-image-slice: 20 22;
    //border-image-repeat: round;

    .promo-item-content{
      //background-color: rgba($black,.1);
    }
  }
  .promo-item:nth-child(odd){

    background: -moz-linear-gradient(0deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(99,184,99,1)), color-stop(51%, rgba(127,209,125,1)), color-stop(100%, rgba(99,184,99,1))); /* safari4+,chrome */

    background: -webkit-linear-gradient(0deg, rgba(theme-color("primary"),.7) 0%, rgba(theme-color("primary"),.5) 51%, rgba(theme-color("primary"),.7) 100%); /* safari5.1+,chrome10+ */

    background: -ms-linear-gradient(0deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(99,184,99,1) 0%, rgba(127,209,125,1) 51%, rgba(99,184,99,1) 100%); /* w3c */


   // background-color: rgba(#81D080,1);
    //background-color: rgba(theme-color('primary'),1);
    .promo-item-content{
      //background-color: rgba($black,.1);
    }
  }
  .promo-item:not(:last-child)::after{
   // border-bottom: 1.5rem dotted white;
    content:'';
    display:block;
    width:100%;
    height: 3rem;
    //background-color: red;
    background-image: url("../../assets/images/sofa.svg");

    background-repeat: repeat-x;
    background-size: 6rem 2rem;
  }
  .promo-item{
    font-size: 1.25rem;
    .promo-item-content{
      background-color: inherit;
      border:none;
      border-radius: 0;

      padding: $h1-font-size/2 0;

      color:$white;
      .card-title{
        color:$black;
      }
      .card-subtitle{
        //color:lighten($black,.05);
        color:$gray-700;
      }
    }
  }
}
